@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}
body {
  background-color: #12b886;
}
.list-item-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.quantity-selector{
  width: 12%;
}
.myButton {
  background-color: #fd7e14;
  border-radius: 12px;
  border: 1px solid #fd7e14;
  cursor: pointer;
}
.myButton:hover {
  background-color: #fd7e14;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.redButton {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 25px;
  margin: 10px 40px;
  text-decoration: none;
  text-shadow: 0px 10px 10px #b23e35;
}
.redButton:hover {
  background-color: #eb675e;
}
.redButton:active {
  position: relative;
  top: 1px;
}

.form-grp {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.field {
  font-family: inherit;
  width: 250%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.field::placeholder {
  color: transparent;
}
.field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
}

.field:focus {
  border-image: linear-gradient(to right, #1adaca, #38ef7d);
  border-image-slice: 1;
}
.field:focus ~ .label {
  top: 0;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
}

/*reset*/
.field:required,
.field:invalid {
  box-shadow: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #12b886;
  padding: 10px;
  border-radius: 19px;
}